.random{
    display: inline-block;
text-align: center;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    background-color: aquamarine;
    
    
  
}
.title {background-color: red;
    margin: 0 0;
    font-size: 60px;}
.title2 {
    font-size: 25px;
    
    

}
.down{
   

    
}



.number{
    display: inline;
}
.button{
    display: inline;
}